@font-face {
  font-family: Ubuntu-Light;
  src: url("../assets/fonts/Ubuntu-Light.ttf");
}
@font-face {
  font-family: Ubuntu-Regular;
  src: url("../assets/fonts/Ubuntu-Regular.ttf");
}
@font-face {
  font-family: Ubuntu-Italic;
  src: url("../assets/fonts/Ubuntu-Italic.ttf");
}
@font-face {
  font-family: Ubuntu-Bold;
  src: url("../assets/fonts/Ubuntu-Bold.ttf");
}
