@media screen and (max-width: 1200px) {
  .word-wrap {
    text-align: center;
  }
}

@media screen and (max-width: 1000px) {
  .landing-img {
    display: none;
  }
  .landing-txt {
    h1 {
      font-size: 40px;
    }
    p {
      font-size: 20px;
    }
  }
}
